section.primeiro ul{
    text-align: center;
    margin: 20px 0 50px 0;
}
button{
    
    border-color: #eb922c;
    background-color: rgb(146, 53, 10);
    color: #eb922c;
    border: none;
    padding: 30px;
    width: 80%;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}