section.primeiro {
    text-align: center;
    margin: 20px 0 50px 0;
}
button{
    border-color: rgb(146, 53, 10);
    color: #eb922c;
    border:#eb922c solid;
    padding: 18px;
    width: 80%;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}
button.result{
    margin-bottom: 50px;
    background-color:  rgb(146, 53, 10);
}

